<div class="row">
    <div class="col-12 main">
        <div class="container">
            <div class="me">
                <h1>Jennifer Pazos</h1>
                <h5>Coder</h5>
                <div class="about-me">
                <p><i>About me</i><br />
                    <p>I enjoy writing code, crafts, spending time with friends and family, and laughing until I cry. </p>
                </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">  
<div class="row body-cards">
    <div class="col-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Blog Posts</h5>
                <p class="card-text">Post 1</p>
                
            </div>
        </div>    
                
    </div>
    <div class="col-2">
    </div>
   
    
    
    <div class="col-5">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Recent Projects</h5>
                <p class="card-text">Project 1</p>
            </div>
        </div>
    </div>
 </div>
</div>